<div ng-controller="headerController as $ctrl">
  <div class="name">
    <label>{{channel.name}}</label>
    <div class="det" ng-show="!channel.isDirect()">
      <label ng-show="channel.getLocaleMembersCount()" dir="rtl">{{channel.getLocaleMembersCount()}} عضو</label>
      <label>{{channel.getDescription()}}</label>
    </div>
    <div class="det" ng-hide="!channel.isDirect()">
      <label ng-if="channel.isDirect()" dir="rtl"><i ng-class="channel.getIconClass()"></i>{{channel.getDirectStatus()}}</label>
    </div>
  </div>
  <ul class="top-left">
    <li>
      <a ui-sref="messenger.home({slug: null})">
        <i class="zmdi zmdi-close"></i>
      </a>
    </li>
    <li>
      <a ng-show="!channel.isDirect()" tooltip-placement="bottom" uib-tooltip="اطلاعات و تنظیمات گروه" ng-click="openChannelDetailsModal()">
        <i class="zmdi zmdi-info"></i>
      </a>
    </li>
    <li class="head-search-holder">
      <!-- TODO add class "focused" to bottom div on input focus-->
      <div class="head-search">
        <input type="text" placeholder="جستجو" ng-focus="searchFocused()" ng-blur="searchBlurred()" />
        <i class="zmdi zmdi-search"></i>
        <!-- TODO bottom div is search result -->
        <div class="search-results coming-soon" ng-show="searchFocus">
          به زودی...
        </div>
        <!-- <div class="search-results">
          <div class="s-r-tabs clearfix">
            <a class="s-r-tab-one active">
              پیام‌ها
            </a>
            <a class="s-r-tab-one">
              فایل‌ها
            </a>
          </div>
          <a class="search-result-one">
            <label class="s-r-o-name">
              یزدی
            </label>
            <label class="s-r-o-msg">
              آقا صدات کردم سرت
              <label class="result-success">گیج </label>
              رفت؟
            </label>
            <label class="s-r-o-date"><span>۲ </span><span>خرداد </span><span>۱۳۹۶ </span><span> - ۲۳:۳۴</span></label>
          </a>
          <a class="search-result-one">
            <label class="s-r-o-name">
              یزدی
            </label>
            <label class="s-r-o-msg">
              آقا صدات کردم سرت
              <label class="result-success">گیج </label>
              رفت؟
            </label>
            <label class="s-r-o-date"><span>۲ </span><span>خرداد </span><span>۱۳۹۶ </span><span> - ۲۳:۳۴</span></label>
          </a>
          <a class="search-result-one">
            <label class="s-r-o-name">
              یزدی
            </label>
            <label class="s-r-o-msg">
              آقا صدات کردم سرت
              <label class="result-success">گیج </label>
              رفت؟
            </label>
            <label class="s-r-o-date"><span>۲ </span><span>خرداد </span><span>۱۳۹۶ </span><span> - ۲۳:۳۴</span></label>
          </a>
          <a class="mime-item-one">
                <svg viewBox="0 0 100 100">
                 <use xlink:href="/static/img/file-formats.svg#dll"></use>
                </svg>
                <div class="mime-dets">
                  <label class="mime-name">نام فایل</label>
                  <span class="mime-date">۱۴ تیر ۱۳۹۶</span>
                  <span class="mime-size">۱.۵۴ مگابایت</span>
                </div>
              </a>
          <a class="mime-item-one">
                <svg viewBox="0 0 100 100">
                  <use xlink:href="/static/img/file-formats.svg#ai"></use>
                </svg>
                <div class="mime-dets">
                  <label class="mime-name">landing-illus.ai</label>
                  <span class="mime-date">۱۲ تیر ۱۳۹۶</span>
                  <span class="mime-size">۱۴ مگابایت</span>
                </div>
              </a>
          <a class="mime-item-one">
                <svg viewBox="0 0 100 100">
                 <use xlink:href="/static/img/file-formats.svg#js"></use>
                </svg>
                <div class="mime-dets">
                  <label class="mime-name">model.js</label>
                  <span class="mime-date">۵ اردیبهشت ۱۳۹۶</span>
                  <span class="mime-size">۰.۳۱ مگابایت</span>
                </div>
              </a>
        </div> -->
      </div>
    </li>
    <li>
      <div ng-show="channel.isDirect()" class="header-notif">
        <input type="checkbox" ng-model="channel.isMuted" id="channel.isMuted" ng-change="toggleIsMuted()" class="" />
        <label for="channel.isMuted" class="zmdi zmdi-notifications-active"></label>
        <label for="channel.isMuted" class="zmdi zmdi-notifications-off"></label>
      </div>
    </li>
  </ul>
  <!-- TODO make bottom div visible when search happened shid-->
  <!-- <div class="overlay"></div> -->
</div>
