<div ng-controller="headerController as $ctrl">
    <div class="name">
        <label>{{channel.name}}</label>
        <div class="det" ng-show="!channel.isDirect()">
            <label ng-show="channel.getLocaleMembersCount()" dir="rtl">{{channel.getLocaleMembersCount()}} عضو</label>
            <label>{{channel.description}}</label>
        </div>
    </div>
    <ul class="top-left">
        <li>
            <a ui-sref="messenger.home({slug: null})">
                <i class="zmdi zmdi-close"></i>
            </a>
        </li>
        <li>
            <a ng-show="!channel.isDirect()" tooltip-placement="bottom" uib-tooltip="اطلاعات و تنظیمات گروه" ng-click="openChannelDetailsModal()">
                <i class="zmdi zmdi-info"></i>
            </a>
        </li>
    </ul>

    <!-- Channel Details Modal -->
    <script type="text/ng-template" id="channelDetailsModal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.closeDetailsModal()">&times;</button>
            <h4 class="modal-title">اطلاعات و تنظیمات گروه</h4>
        </div>
        <div class="modal-body two-part-modal">
            <form name="$ctrl.forms.detailsForm" ng-show="$ctrl.editMode" ng-submit="$ctrl.editChannelDetailsSubmit()" novalidate>
                <div class="container-fluid">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="modal-input">
                            <input type="text" name="name" placeholder="نام گروه" ng-model="$ctrl.details.name" ng-maxlength="32" required>
                            <span class="modal-err" ng-show="$ctrl.formNameCheckEmpty($ctrl.forms.detailsForm)">وارد کردن نام گروه الزامی است!</span>
                            <span class="modal-err" ng-show="$ctrl.formNameCheckMax($ctrl.forms.detailsForm)">نام گروه حداکثر باید شامل ۳۲ حرف باشد.</span>
                            <span class="modal-err" ng-show="$ctrl.details.duplicateError">نام گروه نباید مشابه نام دیگر گروه ها باشد.</span>
                        </div>
                        <div class="modal-input">
                            <input type="text" name="description" placeholder="توضیح گروه" ng-model="$ctrl.details.description" ng-maxlength="256">
                            <span class="modal-err" ng-show="$ctrl.forms.detailsForm.description.$invalid">توضیح گروه حداکثر باید شامل ۲۵۶ حرف باشد.</span>
                        </div>
                        <label class="ws-checkbox">
                            <span>این گروه خصوصی است.</span>
                            <input type="checkbox" ng-model="$ctrl.details.isPrivate">
                            <div class="checkbox-stat">
                                <i class="fa fa-check"></i>
                            </div>
                        </label>
                        <div class="modal-input">
                            <input type="submit" value="ذخیره تغییرات" class="btn btn-defualt">
                            <span class="modal-err" ng-show="$ctrl.details.serverError">خطا در اتصال به سرور</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
            <div ng-show="!$ctrl.editMode" class="container-fluid">
                <div class="col-sm-6">
                    <div class="g-title">
                        <i ng-class="$ctrl.channel.isPrivate() ? 'fa fa-lock' : 'fa fa-globe'"></i>
                        <input type="text" disabled="disabled" class="input-text title" value={{$ctrl.channel.name}} />
                        <div ng-show="$ctrl.isAdmin  && (!$ctrl.editMode)">
                            <button class="btn-modal" ng-click="$ctrl.editChannel()">
                              <span class="zmdi zmdi-edit"></span>
                              <span>ویرایش</span>
                            </button>
                        </div>
                    </div>
                    <div class="g-details">
                        <input type="text" disabled="disabled" class="input-text" value={{$ctrl.channel.description}} />
                    </div>
                </div>
                <div class="col-sm-6 modal-left-part">
                    <div class="g-title">
                        <i class="zmdi zmdi-accounts"></i>
                        <h3>اعضای گروه</h3>
                        <button class="btn-modal" ng-click="$ctrl.addMembersClick()" ng-hide="$ctrl.addingMemberActive">
                          <span class="zmdi zmdi-account-add"></span>
                          <span>اضافه کردن  به اعضای گروه</span>
                        </button>
                        <button class="btn-modal" ng-click="$ctrl.addMembersClick()" ng-show="$ctrl.addingMemberActive">
                          <span class="zmdi zmdi-check"></span>
                          <span>ذخیره</span>
                        </button>
                    </div>
                    <div class="modal-input" ng-show="$ctrl.addingMemberActive">
                        <input type="text" name="search" class="form-control" placeholder="جستجو" ng-model="$ctrl.searchBox">
                    </div>
                    <div class="g-members">
                        <div ng-repeat="member in $ctrl.listItems | orderBy : 'username' | filter : {username : $ctrl.searchBox}" class="g-m-one" ng-style="$ctrl.getListItemCSS(member)" ng-click="$ctrl.pushMember(member)">
                            <div>
                                <img ng-src="{{member.image}}" />
                                <label>@{{member.username}}</label>
                                <button ng-show="$ctrl.showRemoveIcon(member)" ng-click="$ctrl.deleteMember(member)" class="btn modal-btn-details-remove">
                                  <span class="zmdi zmdi-close"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
</div>
