<div ng-controller="headerController as $ctrl">
    <div class="name">
        <label>{{channel.name}}</label>
        <div class="det">
            <label dir="rtl">{{channel.membersCount}}
                عضو</label>
            <label>{{channel.description}}</label>
        </div>
    </div>
    <ul class="top-left">
        <li>
            <a ng-click="clearCache()">
                <i class="fa fa-refresh"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="zmdi zmdi-more-vert"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="zmdi zmdi-settings"></i>
            </a>
        </li>
        <li>
            <div class="head-search">
                <input type="text" placeholder="جستجو"/>
                <i class="zmdi zmdi-search"></i>
            </div>
        </li>
        <li>
            <a ng-click="openChannelDetailsModal()">
                <i class="zmdi zmdi-edit"></i>
            </a>
        </li>
    </ul>

    <!-- Channel Details Modal -->
    <script type="text/ng-template" id="channelDetailsModal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.closeDetailsModal()">&times;</button>
            <h4 class="modal-title">اطلاعات گروه</h4>
        </div>
        <div class="modal-body two-part-modal">
            <form name="$ctrl.forms.detailsForm" ng-show="$ctrl.editMode" ng-submit="$ctrl.editChannelDetailsSubmit()" novalidate>
                <div class="container-fluid">
                    <div class="modal-input">
                        <input type="text" name="name" ng-model="$ctrl.details.name" ng-maxlength="32" required>
                        <span class="modal-err" ng-show="$ctrl.formNameCheckEmpty($ctrl.forms.detailsForm)">وارد کردن نام گروه الزامی است!</span>
                        <span class="modal-err" ng-show="$ctrl.formNameCheckMax($ctrl.forms.detailsForm)">نام گروه حداکثر باید شامل ۳۲ حرف باشد.</span>
                    </div>
                    <div class="modal-input">
                        <input type="text" name="description" ng-model="$ctrl.details.description" ng-maxlength="256">
                        <span class="modal-err" ng-show="$ctrl.forms.detailsForm.description.$invalid">توضیح گروه حداکثر باید شامل ۲۵۶ حرف باشد.</span>
                    </div>
                    <label class="ws-checkbox">
                        <span>این گروه خصوصی است.</span>
                        <input type="checkbox" ng-model="$ctrl.details.isPrivate">
                        <div class="checkbox-stat">
                            <i class="zmdi zmdi-check"></i>
                        </div>
                    </label>
                    <div class="modal-input">
                        <input type="submit" value="ذخیره تغییرات" class="btn btn-default">
                        <span class="modal-err" ng-show="$ctrl.details.serverError">خطا در اتصال به سرور</span>
                    </div>
                </div>
            </form>
            <div ng-show="!$ctrl.editMode" class="container-fluid">
                <div class="col-sm-7">
                    <h1>{{$ctrl.channel.name}}</h1>

                    <div>
                        <label>توضیحات گروه :</label>
                        <h2>{{$ctrl.channel.description}}</h2>
                    </div>

                </div>
                <div class="modal-input" ng-show="$ctrl.isAdmin  && (!$ctrl.editMode)">
                    <button ng-click="$ctrl.editChannel()">ویرایش اطلاعات گروه
                    </button>
                </div>
            </div>

            <div class="col-sm-5">
                <h3>اعضای گروه</h3>
                <div class="modal-input" ng-show="$ctrl.editMode">
                    <input type="text" name="search" ng-model="$ctrl.details.search" placeholder="جستجو">
                </div>
                <div class="g-members">
                    <div ng-repeat="channelMember in $ctrl.channel.members | orderBy : 'username' | filter : {full_name : $ctrl.details.search}" class="g-m-one">
                        <img ng-src="static/img/user-def.png"/>
                        <label>{{channelMember.full_name}}</label>
                        <label dir="ltr">(@{{channelMember.username}})</label>
                    </div>
                </div>
                <div class="modal-input">
                    <button ng-click="$ctrl.addMember()">اضافه کردن عضو</button>
                </div>
            </div>
        </div>
    </script>

</div>
