<div ng-controller="headerController as $ctrl">
  <div class="name">
    <label>{{channel.name}}</label>
    <div class="det" ng-show="!channel.isDirect()">
      <label ng-show="channel.getLocaleMembersCount()" dir="rtl">{{channel.getLocaleMembersCount()}} عضو</label>
      <label>{{channel.getDescription()}}</label>
    </div>
  </div>
  <ul class="top-left">
    <li>
      <a ui-sref="messenger.home({slug: null})">
        <i class="zmdi zmdi-close"></i>
      </a>
    </li>
    <li>
      <a ng-show="!channel.isDirect()" tooltip-placement="bottom" uib-tooltip="اطلاعات و تنظیمات گروه" ng-click="openChannelDetailsModal()">
        <i class="zmdi zmdi-info"></i>
      </a>
    </li>
  </ul>
</div>
