<div ng-controller="headerController">
    <div class="name">
        <label>{{channel.name}}</label>
        <div class="det">
            <label dir="rtl">{{channel.membersCount}} عضو</label>
            <label ng-click="$scope.showAndEditChannelDetails()">مشخصات گروه</label>
        </div>
    </div>
    <ul class="top-left">
        <li>
            <a href="#">
                <i class="zmdi zmdi-more-vert"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="zmdi zmdi-settings"></i>
            </a>
        </li>
        <!-- <li>
        <a href="#">
            <i class="zmdi zmdi-favorite-outline"></i>
        </a>
    </li> -->
        <li>
            <div class="head-search">
                <input type="text" placeholder="جستجو"/>
                <i class="zmdi zmdi-search"></i>
            </div>
        </li>
        <li>
            <a ng-click="openChannelDetailsModal()">
                <i class="zmdi zmdi-edit"></i>
            </a>
        </li>
        <!--<li>
        <a href="#">
            <i class="zmdi zmdi-email"></i>
        </a>
    </li> -->
    </ul>
</div>
