<div class="wrapper">
  <div class="col-sm-3 col-lg-2 no-padding channel-section">
    <div class="right-section">
      <div class="right-section-header dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img src="static/img/tecom-logo.png" />
          <span class="brand-name-right-header">تیکام</span>
        </a>
        <div class="list-group user-options">
          <ul class="dropdown-menu">
            <li>
              <button type="button" class="list-group-item"><i class="fa fa-user"></i>تنظیمات کاربری</button>
            </li>
            <li>
              <button type="button" class="list-group-item"><i class="fa fa-sign-out "></i>خروج</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-section-main">
        <div ui-view="channels"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 no-padding chat-section">
    <div ui-view></div>
  </div>
  <div class="loading" ng-show="isLoading">
    <img class="loading-img" src="static/img/loading.gif">
    <div class="loading-txt">تمرکز روی همه چیز، همون تمرکز روی هیچ چیزِ.</div>
  </div>
</div>
<div class="clearfix"></div>
