<div class="wrapper">
  <div class="col-sm-3 col-lg-2 no-padding channel-section">
    <div class="right-section">
      <div ng-controller="MessengerCtrl" class="right-section-header" uib-dropdown>
        <a uib-dropdown-toggle>
          <img src="static/img/tecom-logo.png"/>
          <span class="brand-name-right-header">تیکام</span>
        </a>
        <ul class="dropdown-menu user-options" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li>
            <a ng-click="openModal('userProfile')"><i class="fa fa-user"></i>پروفایل من</a>
          </li>
          <li>
            <a ng-click="openModal('teamProfile')"><i class="fa fa-users"></i>مدیریت تیم</a>
          </li>
          <li>
            <a><i class="fa fa-sign-out "></i>خروج</a>
          </li>
        </ul>
      </div>
      <div class="right-section-main">
        <div ui-view="channels"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 no-padding chat-section">
    <div ui-view></div>
  </div>
  <div class="loading" ng-show="isLoading">
    <img class="loading-img" src="static/img/loading.gif">
    <div class="loading-txt">تمرکز روی همه چیز، همون تمرکز روی هیچ چیزِ.</div>
  </div>
</div>
<div class="clearfix"></div>

<!-- User profile modal -->
<script type="text/ng-template" id="userProfile.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">پروفایل من</h4>
  </div>
  <div class="modal-body two-part-modal">
    <div class="container-fluid u-profile">
      <div class="col-sm-10  col-sm-offset-1">
        <a type="file" ngf-select="uploadProfileImage($file, $invalidFiles)" ngf-max-size="1MB">
          <!--<img src="static/img/user-def.png">-->
          <img ng-src="{{user.image}}">
        </a>
        <div class="info">
          <label>ایمیل:</label>
          <label class="label">{{user.email}}</label>
          <br>
          <label>نام کاربری:</label>
          <label class="label">@</label>
          <label ng-show="!editUsernameActive" class="label">{{user.username}}</label>
          <input ng-show="editUsernameActive" type="text" ng-model="usernameInput" placeholder="{{user.username}}"/>
          <div class="modal-input modal-input-details">
            <button ng-show="!editUsernameActive" tooltip-placement="bottom" uib-tooltip="ویرایش نام کاربری" class="modal-btn modal-btn-details" ng-click="editUsername()"><span class="zmdi zmdi-edit"></span></button>
            <button ng-show="editUsernameActive" tooltip-placement="bottom" uib-tooltip="ذخیره نام کاربری" class="modal-btn modal-btn-details" ng-click="saveUsername()"><span class="zmdi zmdi-edit"></span></button>
          </div>
          <br>
          <div class="modal-input modal-input-details">
            <button ng-show="!changePasswordActive" type="button" class="btn btn-default" ng-click="changePassword()">تغییر رمز عبور</button>
          </div>
          <div ng-show="changePasswordActive">
            <label>رمز عبور فعلی</label>
            <input type="password" ng-model="oldPasswordInput"/>
            <label>رمز عبور جیدید</label>
            <input type="password" ng-model="newPasswordInput"/>
            <label>تکرار رمز عبور جدید</label>
            <input type="password" ng-model="confirmPasswordInput"/>
          </div>
          <div class="modal-input modal-input-details">
            <button ng-show="changePasswordActive" type="button" class="btn btn-default" ng-click="savePassword()">ذخیره رمز عبور</button>
          </div>
          <span class="modal-err" ng-show="showErrorMessage">{{errorMessage}}</span>
          <span ng-show="showInfoMessage">{{infoMessage}}</span>
        </div>
        <div class="leave">
          <div class="modal-input">
            <input type="submit" value="خروج از گروه" class="btn btn-default">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<!-- Team profile modal -->
<script type="text/ng-template" id="teamProfile.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">مدیریت تیم</h4>
  </div>
  <div class="modal-body two-part-modal">
    <div class="container-fluid u-profile">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="t-info">
          <label>نام تیم:</label>
          <input ng-show="editTeamNameActive" type="text" ng-model="usernameInput" placeholder="{{team.name}}"/>
          <div class="modal-input modal-input-details">
            <button ng-show="!editTeamNameActive" tooltip-placement="bottom" uib-tooltip="ویرایش نام تیم" class="modal-btn modal-btn-details" ng-click="editTeamName()"><span class="zmdi zmdi-edit"></span></button>
            <button ng-show="editTeamNameActive" tooltip-placement="bottom" uib-tooltip="ذخیره نام تیم" class="modal-btn modal-btn-details" ng-click="saveTeamName()"><span class="zmdi zmdi-edit"></span></button>
          </div>

          <label class="label">تیکام</label>
          <br>
          <label>اعضای تیم:</label>
          <div class="g-members">
            <div ng-repeat="member in teamMembers" class="g-m-one">
              <img ng-src="static/img/user-def.png"/>
              <label>@{{member.username}}</label>
              <button tooltip-placement="bottom" uib-tooltip="حذف" class="btn modal-btn-details-remove" ng-click="removeTeamMember(member)"><span class="glyphicon glyphicon-remove"></span></button>
              <button tooltip-placement="bottom" uib-tooltip="ادمین کن!" class="btn modal-btn-details-admin"><span class="fa fa-star" ng-click="makeAdmin(member)"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
