<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()">&times;</button>
  <h4 class="modal-title">ایجاد گروه جدید</h4>
</div>
<div class="modal-body two-part-modal">
  <form name="forms.newChannelForm" ng-submit="createChannelSubmit()" novalidate>
    <div class="container-fluid">
      <div class="col-sm-6">
        <h3>مشخصات گروه</h3>
        <div class="modal-input">
          <input type="text" name="name" ng-model="newChannel.name" ng-maxlength="32" placeholder="نام گروه" required>
          <span class="modal-err" ng-show="formNameCheckEmpty(forms.newChannelForm)">وارد کردن نام گروه الزامی است!</span>
          <span class="modal-err" ng-show="formNameCheckMax(forms.newChannelForm)">نام گروه حداکثر باید شامل ۳۲ حرف باشد.</span>
          <span class="modal-err" ng-show="newChannel.limitError">ظرفیت تعداد گروه‌ها در پلن فعلی پر شده است.</span>
          <span class="modal-err" ng-show="newChannel.dublicateError">نام گروه نباید مشابه نام دیگر گروه ها باشد.</span>
        </div>
        <div class="modal-input">
          <input type="text" name="description" ng-model="newChannel.description" ng-maxlength="256" placeholder="توضیح گروه">
          <span class="modal-err" ng-show="forms.newChannelForm.description.$invalid">توضیح گروه حداکثر باید شامل ۲۵۶ حرف باشد.</span>
        </div>
        <div class="checkbox-holder">
          <input type="checkbox" ng-model="newChannel.isPrivate" id="checkboxPublicPrivate" class="ios-toggle" checked/>
          <label for="checkboxPublicPrivate" class="checkbox-label"></label>
          <label for="checkboxPublicPrivate" class="zmdi zmdi-globe checkbox-holder-icon checkbox-holder-left-icon"></label>
          <label for="checkboxPublicPrivate" class="zmdi zmdi-lock checkbox-holder-icon checkbox-holder-right-icon"></label>
        </div>
        <div class="public-private-dsc">
          <span><i class="zmdi zmdi-globe"></i>گروه عمومی (تمام اعضای تیم می‌توانند ببینند.)</span>
          <span><i class="zmdi zmdi-lock"></i>گروه خصوصی (فقط اعضای گروه)</span>
          <br>
          <!-- <span><i class="zmdi zmdi-info"></i>{{getNumbeOfChannels()}}</span>
          <br> -->
          <!-- <span ng-show="channelCreateLimitError"><i class="fa fa-warning"></i>ظرفیت گروه ها در پلن فعلی پر شده است.</span> -->
        </div>
      </div>
      <div class="col-sm-6 modal-left-part">
        <h3>اعضای گروه</h3>
        <div class="modal-input search-user-input-holder">
          <input type="text" name="search" class="form-control" ng-model="newChannel.search" placeholder="جستجو">
          <span class="sign">@</span>
        </div>
        <div class="g-members">
          <div ng-repeat="teamMember in teamMembers | orderBy : 'user.username' | filter : {user: {username : newChannel.search}}" class="g-m-one" ng-click="teamMemberClick(teamMember)">
            <div ng-class=getCssClass(teamMember)>
              <img ng-src="{{teamMember.user.image}}" />
              <span class="zmdi zmdi-check-circle"></span>
              <label dir="rtl">@{{teamMember.user.username}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-input">
        <input type="submit" value="ایجاد گروه" class="btn btn-default">
        <span class="modal-err" ng-show="newChannel.serverError">خطا در اتصال به سرور</span>
      </div>
    </div>
  </form>
</div>
