<div ng-controller="channelsController">
  <div class="group-holder-header">
    <i class="zmdi zmdi-accounts"></i>
    <label>گروه‌ها</label>
    <a class="plus-g" tooltip-placement="right" uib-tooltip="ایجاد گروه جدید!" ng-click="openCreateChannelModal()">
      <i class="zmdi zmdi-plus"></i>
    </a>
  </div>
  <div class="group-holder" id="channels" tour-step tour-step-content="این‌جا جای گروه‌های مختلف تیمه. با دکمه‌ی + می‌تونی گروه عمومی یا خصوصی جدید بسازی. (۲/۸)" tour-step-order="1" tour-step-on-show="navigateToHomeAndScrollToChannels()" tour-step-placement="left"
    tour-step-backdrop="true">
    <ul>
      <li ng-repeat="channel in channels.publicsAndPrivates | orderBy : ['!lastDatetime', '-lastDatetime']" ng-class="channel.getCssClass()">
        <a ui-sref="messenger.messages({slug: channel.getUrlifiedSlug()})">
          <i ng-class="channel.getIconClass()"></i>
          <span class="channel-name">{{channel.name}}</span>
          <span ng-show="channel.hasUnread()" ng-class="channel.getNotifCountClass()">{{channel.getLocaleNotifCount()}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="direct-holder-header">
    <i class="zmdi zmdi-account"></i>
    <label>پیام‌های خصوصی</label>
    <!--
    <a class="plus-d" tooltip-placement="right" uib-tooltip="شروع مکالمه خصوصی جدید!" ng-click="openModal('newDirect')">
      <i class="zmdi zmdi-plus"></i>
    </a>
    -->
  </div>
  <div class="direct-holder group-holder" tour-step tour-step-content="این‌جا هم لیست هم‌تیمی‌هاته که می‌تونی باهاشون مکالمه‌ی مستقیم داشته باشی. هر سوال یا بازخوردی رو هم می‌تونی با تیک-بات در میون بزاری. (۳/۸)" tour-step-order="2" tour-step-placement="left" tour-step-on-show="scrollToDirects()" tour-step-on-next="navigateToAndWaitFor('messages')" tour-step-backdrop="true">
    <ul>
      <li ng-repeat="direct in channels.directs | orderBy : ['!lastDatetime', '-lastDatetime']" ng-class="direct.getCssClass()">
        <a ui-sref="messenger.messages({slug: direct.getUrlifiedSlug()})">
          <i ng-class="direct.getIconClass()"></i>
          <span class="channel-name">{{direct.name}}</span>
          <span ng-show="direct.hasUnread()" class="badge">{{direct.getLocaleNotifCount()}}</span>
        </a>
      </li>
    </ul>
<div class="add-mate">
    <a ng-click="openTeamProfileModal()" tour-step tour-step-content="حالا روی این گزینه کلیک کن تا خیلی راحت چند تا از هم‌کارات رو به تیکام دعوت کنی! (۷/۸)" tour-step-order="6" tour-step-placement="left" tour-step-on-show="scrollToProgress()" tour-step-on-prev="navigateToAndWaitFor('file-manager')" tour-step-backdrop="true">
        <i class="zmdi zmdi-account-add"></i>
        <span class="channel-name">دعوت هم‌تیمی</span>
      </a>
    </div>
  </div>
</div>
