<div ng-controller='channelsController'>
    <div class="group-holder-header">
        <i class="zmdi zmdi-accounts"></i>
        <label>گروه‌ ها</label>
        <a class="plus-g" ng-click="createChannelInitial()" data-toggle="modal" data-target="#createChannelModal">
            <i class="zmdi zmdi-plus"></i>
        </a>
    </div>
    <div class="group-holder">
        <ul>
            <li ng-repeat='channel in channels | filter: filterByPublicAndPrivate' ng-class="{'active': channel.slug == selectedChat()}">
                <a ui-sref=".messages({chatId: '{{channel.slug}}'})">
                  #
                  <span>{{channel.name}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="direct-holder-header">
        <i class="zmdi zmdi-inbox"></i>
        <label>پیغام خصوصی</label>
        <a class="plus-d">
            <i class="zmdi zmdi-plus"></i>
        </a>
    </div>
    <div class="direct-holder group-holder">
        <ul>
            <li ng-repeat='direct in channels | filter: filterByDirect' ng-class="{'active': '@' + direct.slug == selectedChat()}">
                <a ui-sref=".messages({chatId: '@{{direct.slug}}'})">
                    <i ng-class="(direct.online) ? 'zmdi zmdi-circle' : 'zmdi zmdi-circle-o'"></i>
                    <span>{{direct.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
