<div ng-controller="channelsController">
  <div class="group-holder-header">
    <i class="fa fa-users"></i>
    <label>گروه‌ ها</label>
    <a class="plus-g" tooltip-placement="right" uib-tooltip="ایجاد گروه جدید!" ng-click="openCreateChannelModal()">
      <i class="zmdi zmdi-plus"></i>
    </a>
  </div>
  <div class="group-holder">
    <ul>
      <li ng-repeat="channel in channels.publicsAndPrivates | orderBy : ['!lastDatetime', '-lastDatetime']" ng-class="channel.getCssClass()">
        <a ui-sref="messenger.messages({slug: channel.getUrlifiedSlug()})">
          <i ng-class="channel.getIconClass()"></i>
          <span class="channel-name">{{channel.name}}</span>
          <span ng-show="channel.hasUnread()" ng-class="channel.getNotifCountClass()">{{channel.getLocaleNotifCount()}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="direct-holder-header">
    <i class="fa fa-user"></i>
    <label>پیام خصوصی</label>
    <!--
    <a class="plus-d" tooltip-placement="right" uib-tooltip="شروع مکالمه خصوصی جدید!" ng-click="openModal('newDirect')">
      <i class="zmdi zmdi-plus"></i>
    </a>
    -->
  </div>
  <div class="direct-holder group-holder">
    <ul>
      <li ng-repeat="direct in channels.directs | orderBy : ['!lastDatetime', '-lastDatetime']" ng-class="direct.getCssClass()">
        <a ui-sref="messenger.messages({slug: direct.getUrlifiedSlug()})">
          <i ng-class="direct.getIconClass()"></i>
          <span class="channel-name">{{direct.name}}</span>
          <span ng-show="direct.hasUnread()" class="badge">{{direct.getLocaleNotifCount()}}</span>
        </a>
      </li>
    </ul>
  </div>

  <script type="text/ng-template" id="newDirectModal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.closeCreateChannel()">&times;</button>
      <h4 class="modal-title">مکالمه مستقیم</h4>
    </div>
    <div class="modal-body two-part-modal">
      <form name="$ctrl.forms.newChannelForm" ng-submit="$ctrl.createChannelSubmit()" novalidate>
        <div class="container-fluid">
          <div class="col-sm-10 col-sm-offset-1">
            <h3>لطفا مخاطب مورد نظرتان را انتخاب کنید</h3>
            <div class="modal-input">
              <input type="text" name="search" ng-model="$ctrl.searchBox" placeholder="جستجو">
            </div>
            <div class="g-members">
              <a ng-repeat="teamMember in $ctrl.teamMembers | orderBy : 'user.username' | filter : {username : $ctrl.searchBox}" class="g-m-one" ng-click="$ctrl.directClick(teamMember)">
                <img ng-src="static/img/user-def.png" />
                <label>@{{teamMember.user.username}}</label>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </script>

</div>
