<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()">&times;</button>
  <h4 class="modal-title">اطلاعات و تنظیمات گروه</h4>
</div>

<div class="container-fluid">
  <div class="modal-body two-part-modal">
    <div class="col-sm-6">
      <form name="forms.detailsForm" ng-submit="submitChannelDetailsForm()" novalidate>
        <div class="g-title">
          <i ng-class="channel.isPrivate() ? 'fa fa-lock' : 'fa fa-globe'"></i>
          <input type="text" name="name" ng-model="details.name" ng-maxlength="32" ng-disabled="!editMode" class="input-text title" value={{channel.name}} placeholder={{channel.name}} required>
          <div ng-messages="forms.detailsForm.name.$error">
            <span class="modal-err" ng-message="required" ng-show="forms.detailsForm.name.$touched">وارد کردن نام گروه الزامی است!</span>
            <span class="modal-err" ng-message="maxlength">نام گروه حداکثر باید شامل ۳۲ حرف باشد.</span>
            <!-- TODO: Implement this. -->
            <span class="modal-err" ng-message="unique">نام گروه نباید مشابه نام دیگر گروه ها باشد.</span>
          </div>
        </div>
        <div class="g-details">
          <input type="text" name="description" ng-model="details.description" ng-maxlength="256" ng-disabled="!editMode" class="input-text" value={{channel.description}} placeholder={{channel.description}}>
          <div ng-messages="forms.detailsForm.description.$error">
            <span class="modal-err" ng-message="maxlength">توضیح گروه حداکثر باید شامل ۲۵۶ حرف باشد.</span>
          </div>
        </div>
        <label class="ws-checkbox" ng-show="editMode">
          <span>این گروه خصوصی است.</span>
          <input type="checkbox" ng-model="details.isPrivate">
          <div class="checkbox-stat">
            <i class="fa fa-check"></i>
          </div>
        </label>

        <div class="clearfix"></div>
        <button type="submit" class="btn-modal" ng-show="editMode">
          <span class="zmdi zmdi-check"></span>
          <span>ذخیره</span>
        </button>
        <!-- TODO: Implement this. -->
        <!--
        <button class="btn-modal" ng-show="editMode">
          <span class="zmdi zmdi-close"></span>
          <span>بی‌خیال</span>
        </button>
        -->
        <span class="modal-err" ng-show="details.serverError">خطا در اتصال به سرور</span>
      </form>

      <button class="btn-modal" ng-click="editChannelClick()" ng-show="!editMode">
        <span class="zmdi zmdi-edit"></span>
        <span>ویرایش</span>
      </button>
    </div>
    <div class="col-sm-6 modal-left-part">
      <div class="g-title">
        <i class="zmdi zmdi-accounts"></i>
        <h3>اعضای گروه</h3>
        <button class="btn-modal" ng-click="addMembersClick()" ng-hide="addMemberMode">
          <span class="zmdi zmdi-account-add"></span>
          <span>اضافه کردن به اعضای گروه</span>
        </button>
        <button class="btn-modal" ng-click="submitAddedMembers()" ng-show="addMemberMode">
          <span class="zmdi zmdi-check"></span>
          <span>ذخیره</span>
        </button>
        <!-- TODO: Implement this. -->
        <!--
        <button class="btn-modal" ng-click="" ng-show="addMemberMode">
          <span class="zmdi zmdi-close"></span>
          <span>بی‌خیال</span>
        </button>
        -->
      </div>
      <div class="modal-input" ng-show="addMemberMode">
        <input type="text" name="search" class="form-control" placeholder="جستجو" ng-model="searchInput">
      </div>
      <div class="g-members">
        <div ng-repeat="member in membersListItems | orderBy : 'memberRefrence.username' | filter : {username : searchInput}" ng-click="member.click(addMemberMode)">
          <div class="g-m-one" ng-show="addMemberMode ? true : member.isChannelMember()">
            <div ng-class=member.getCssClass(addMemberMode)>
              <img ng-src="{{member.getImage()}}" />
              <span class="zmdi zmdi-check-circle" ng-show="addMemberMode"></span>
              <label>@{{member.memberRefrence.username}}</label>
              <label class="hint" ng-show="addMemberMode && member.isChannelMember()">(عضو گروه)</label>
              <button class="btn modal-btn-details-remove" ng-show="isAdmin && (!addMemberMode)" ng-click="removeMemberClick(member)">
                <span class="zmdi zmdi-close"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div ng-if="isUserAdmin()">
    <confirm-dialog button-name="حذف گروه" message="مطمئنی که می خوای این گروه رو حذف کنی؟" cancel="نه، حواسم نبود" ok="آره" confirm-func="archiveChannel" class="danger-btn" confirm-button="danger"></confirm-dialog>
  </div>
</div>
</div>
