@font-face {
    font-family: 'iransans';
    src: url("../font/IRANSansWeb_UltraLight.eot"), url("../font/IRANSansWeb_UltraLight.woff") format("woff"), url("../font/IRANSansWeb_UltraLight.ttf") format("truetype"), url("../font/IRANSansWeb_UltraLight.woff2") format("woff2");
    font-weight: 100
}

@font-face {
    font-family: 'iransans';
    src: url("../font/IRANSansWeb_Light.eot"), url("../font/IRANSansWeb_Light.woff") format("woff"), url("../font/IRANSansWeb_Light.ttf") format("truetype"), url("../font/IRANSansWeb_Light.woff2") format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: 'iransans';
    src: url("../font/IRANSansWeb.eot"), url("../font/IRANSansWeb.woff") format("woff"), url("../font/IRANSansWeb.ttf") format("truetype"), url("../font/IRANSansWeb.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: 'iransans';
    src: url("../font/IRANSansWeb_Medium.eot"), url("../font/IRANSansWeb_Medium.woff") format("woff"), url("../font/IRANSansWeb_Medium.ttf") format("truetype"), url("../font/IRANSansWeb_Medium.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'iransans';
    src: url("../font/IRANSansWeb_Bold.eot"), url("../font/IRANSansWeb_Bold.woff") format("woff"), url("../font/IRANSansWeb_Bold.ttf") format("truetype"), url("../font/IRANSansWeb_Bold.woff2") format("woff2");
    font-weight: 500;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'iransans';
}

* {
    outline: 0 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'iransans';
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'iransans', 'calibri';
    color: #666;
    background: url(../img/bg-pattern-green.png);
    background-size: 25%;
    font-weight: 200;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.login-form {
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-img-holder {
    background: rgb(39, 169, 114);
    border-radius: 7px 7px 0 0;
}

.login-img {
    width: 100%;
    border-radius: 7px 7px 0 0;
    margin-bottom: 20px;
}

.login-form-title {
    font-size: 20px;
    font-weight: 200;
    color: #017446;
    text-align: center;
}

.form-err {
    text-align: center;
}

.form-err label {
    border-radius: 4px;
    color: #fff;
    font-weight: 100;
    padding: 4px 10px;
    font-size: 12px;
    background: rgb(226, 89, 89);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    font-weight: 100;
}

.login-form-body {
    padding: 0px 20px 20px;
}

.form-input input {
    padding: 8px 16px;
    display: block;
    width: 100%;
    margin: 16px 0;
    font-size: 15px;
    color: #666;
    border-radius: 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none;
    border: 1px solid #DDDDDD;
    text-align: center;
}

.form-input input:focus {
    padding: 8px 16px;
    display: block;
    width: 100%;
    margin: 16px 0;
    font-size: 15px;
    color: #666;
    border-radius: 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(36, 167, 114, 0.6);
    border: 1px solid rgba(36, 167, 114, 0.6);
}

.ws-checkbox {
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
    font-weight: 100;
}

label.ws-checkbox>input {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

label.ws-checkbox>.checkbox-stat i {
    font-size: 35px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -13px;
    left: -4px;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

label.ws-checkbox>.checkbox-stat {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    position: relative;
    top: 4px;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

label.ws-checkbox>input+.checkbox-stat {
    cursor: pointer;
    background-size: cover;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    background-color: #fff;
}

label.ws-checkbox>input:checked+.checkbox-stat>i {
    opacity: 1;
    visibility: visible;
    color: rgb(32, 164, 109);
    transform: rotateZ(-5deg);
}

.submit-btn {
    display: block;
    font-weight: 200;
    width: 100%;
    margin: 0 auto;
    padding: 4px;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin-top: 20px;
    background: #09945C;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.submit-btn:hover {
    background: rgba(9, 148, 92, 0.8);
}

.submit-btn:focus, .submit-btn:active {
    background: rgba(9, 148, 92, 0.8);
    color: #f3f3f3;
}

.tecom-form {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

.form-img-holder {
    background: rgb(39, 169, 114);
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 150px;
    color: #fff;
}

.email-sent-text {
    text-align: center;
    font-size: 35px;
}
