<div ng-controller="loginController" class="login-form">
    <div class="login-form-heading">
        <h4 class="login-form-title">ایمیل و رمز عبورت رو وارد کن...</h4>
    </div>
    <div class="login-form-body">
        <form name="forms.login" ng-submit="login()" novalidate>
            <div class="form-group">
                <input ng-model="email" class="input-box" placeholder="ایمیل" name="username" type="text" required>
            </div>
            <label class="login-err" ng-show="forms.login.email.$invalid && (!forms.login.email.$pristine || forms.login.$submitted)">وارد کردن نام کاربری ضروری می باشد.</label>
            <div class="form-group">
                <input ng-model="password" class="input-box" placeholder="رمز عبور" name="password" type="password" required>
            </div>
            <label class="login-err" ng-show="forms.login.password.$invalid && (!forms.login.password.$pristine || forms.login.$submitted)">وارد کردن رمز عبور ضروری می باشد.</label>
            <label class="login-err" ng-show="hasLoginError">{{loginErrorString}}</label>
            <label class="ws-checkbox">
                <span>مرا به خاطر بسپار.</span>
                <input ng-model="remember" name="remember" type="checkbox">
                <div class="checkbox-stat">
                    <i class="fa fa-check"></i>
                </div>
            </label>

            <input class="submit-btn" type="submit" value="ورود">
        </form>
    </div>
</div>
