<div class="col-sm-2 col-lg-4 col-md-3"></div>
<div class="col-sm-8 col-lg-4 col-md-6">
  <div class="container-fluid">
    <div ng-controller="loginController" class="login-form">
      <div class="login-img-holder">
        <img ng-src="{{getTecomBigLogoUrl()}}" class="login-img" />
      </div>
      <div class="login-redirect-error" ng-if="redirectError">
        <label>{{redirectError}}</label>
      </div>
      <div class="login-form-body">
        <form name="forms.login" ng-submit="login()" novalidate>
          <div class="form-group form-input">
            <input id="email" ng-model="email" placeholder="نام کاربری یا ایمیل" name="email" type="text" required autofocus>
          </div>
          <div class="form-err">
            <label class="login-err" ng-show="forms.login.email.$invalid && (!forms.login.email.$pristine || forms.login.$submitted)">وارد کردن نام کاربری یا ایمیل ضروری می باشد.</label>
          </div>
          <div class="form-group form-input">
            <input ng-model="password" placeholder="رمز عبور" name="password" type="password" required>
          </div>
          <div class="form-err">
            <label ng-show="forms.login.password.$invalid && (!forms.login.password.$pristine || forms.login.$submitted)">وارد کردن رمز عبور ضروری می باشد.</label>
            <label ng-show="hasLoginError">{{loginErrorString}}</label>
          </div>
          <!--
            <label class="ws-checkbox">
                <span>مرا به خاطر بسپار.</span>
                <input ng-model="remember" name="remember" type="checkbox">
                <div class="checkbox-stat">
                    <i class="fa fa-check"></i>
                </div>
            </label>
             -->
          <input ng-hide="isLoading" class="submit-btn" type="submit" value="ورود" />
          <button ng-show="isLoading" class="submit-btn" disabled><i class="fa fa-spinner fa-spin"></i></button>
        </form>
        <a href="{{passwordRecoveryUrl}}" class="btn btn-link">رمزت رو یادت رفته؟</a>
        <a ng-click="gotoFindTeam()" class="btn btn-link">برگشت به صفحه انتخاب تیم</a>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-2 col-lg-4 col-md-3"></div>
