<!DOCTYPE html>
<html ng-app="LoginApp">

<head>
  <title>تیکام</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <base href="/">
  <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://lib.arvancloud.com/ar/bootstrap-rtl/3.3.4/css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" href="https://lib.arvancloud.com/ar/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://lib.arvancloud.com/ar/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
  <link rel="stylesheet" href="static/css/login-style.css?v=1.0.0" />
  <link rel="shortcut icon" href="favicon.png" type="image/png" />

  <script src="https://lib.arvancloud.com/ar/angular.js/1.6.4/angular.min.js"></script>
</head>

<body>
  <div class="container">
    <ui-view></ui-view>
  </div>

  <script src="https://lib.arvancloud.com/ar/angular-ui-router/1.0.0/angular-ui-router.min.js"></script>
  <script src="https://lib.arvancloud.com/ar/ngStorage/0.3.11/ngStorage.min.js"></script>
  <script src="static/lib/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="static/lib/angular-ismobile/dist/angular-ismobile.min.js"></script>
  <script src="app/tecom.js"></script>

</body>

</html>
