<!DOCTYPE html>
<html ng-app="LoginApp">

<head>
  <title>تیکام</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <base href="/">
  <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" href="static/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/lib/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" />
  <!-- <link rel="stylesheet" href="static/css/style.css"/> -->
  <link rel="stylesheet" href="static/css/login-style.css" />
  <script src="static/lib/angular/angular.js"></script>
</head>

<body>
  <div style="background-color: #24A772">
    <div class="container">
      <div ng-controller="LoginController" class="login-form">
        <div class="login-form-heading">
          <h4 class="login-form-title">نام کاربری و رمز عبورت رو وارد کن...</h4>
        </div>
        <div class="login-form-body">
          <form name="forms.login" ng-submit="login()" novalidate>
            <div class="form-group">
              <input ng-model="username" class="input-box" placeholder="نام کاربری" name="username" type="text" required>
            </div>
            <span ng-show="forms.login.username.$invalid && !forms.login.username.$pristine">وارد کردن نام کاربری ضروری می باشد.</span>
            <div class="form-group">
              <input ng-model="password" class="input-box" placeholder="رمز عبور" name="password" type="password" required>
            </div>
            <span ng-show="forms.login.password.$invalid && !forms.login.password.$pristine">وارد کردن رمز عبور ضروری می باشد.</span>
            <span ng-show="loginError">نام کاربری یا رمز عبور صحیح نمی باشد.</span>
            <label class="ws-checkbox">
                <span>مرا به خاطر بسپار.</span>
                <input ng-model="remember" name="remember" type="checkbox">
                <div class="checkbox-stat">
                    <i class="fa fa-check"></i>
                </div>
            </label>
            <input class="submit-btn" type="submit" value="ورود">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="static/lib/ngstorage/ngStorage.min.js"></script>
  <script src="static/lib/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="app/components/login/login.module.js"></script>
  <script src="app/shared/auth/auth.service.js"></script>
  <script src="app/shared/auth/user.model.js"></script>
  <script src="app/shared/team/team.model.js"></script>
  <script src="app/shared/utils/arrayUtil.js"></script>
  <script src="app/shared/utils/domain.util.js"></script>

</body>

</html>
