<div ng-controller="newLoginController" style="background-color: #00b3ee">
    <div class="container" id="loginFormContainer" >
        <div ng-repeat="circle in circles">
            <div ng-show="true" class="circle" ng-style="circle.style"></div>
        </div>
        <div class="login-form">
            <div class="login-form-heading">
                <h3 class="login-form-title">لطفا نام کاربری و رمز عبور را وارد کنید.</h3>
            </div>
            <div class="login-form-body">
                <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="نام کاربری..." name="username" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="رمز عبور..." name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">مرا به خاطر بسپار.
                            </label>
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="ورود">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
