<div ng-controller="filesController">
  <div ng-show="vm.file">
    <div class="doc-section-header">
      <ul class="doc-tabs">
        <!--Tabs View-->
        <li class="doc-tab doc-tab-active">
          <i class="fa fa-circle"></i>
          {{vm.file.name}}
          <a ng-click="closeFile(vm.file)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>
      <!--<li class="doc-tab">-->
      <!--c.js-->
      <!--<i class="fa fa-times"></i>-->
      <!--</li>-->
      <!--end Tabs View-->
      <!--
      <div class="doc-file-ex">
        <i class="fa fa-folder-open"></i>
      </div>
      -->
    </div>
    <div class="doc-section-body">
    <pre id="codeView" class="prettyprint linenums" dir="rtl">
      <ol class="linenums">
        <li ng-repeat="line in vm.file.lines track by $index" ng-click="lineClick(line.num)" ng-bind-html="line.html" ng-class="line.getCssClass()"></li>
      </ol>
    </pre>
    </div>
  </div>
</div>
