<div ng-controller="filesController">
  <div ng-show="viewState() === 'noFile'">
    <div class="file-empty">
      <!-- <pre class="prettyprint linenums" dir="ltr">
  <ol class="linenums">
      <li>if(!fileIsSelected){</li>
        <li>  OpenFileManager(); </li>
      <li>}</li>
  </ol>
      </pre> -->
      <div class="em-fi-al">
        <i class="fa fa-code"></i>
        <br/>

        اینجا فایل‌های
        <a class="live-btn">
          <label dir="ltr">LIVE</label>
          <i class="fa fa-circle"></i>
        </a>
        نشون داده می‌شود
      </div>
      <a href="" class="up-fi">
                <span>
              یه فایل آپلود کن بعد
</span>
        <span class="live-btn">
                  <label dir="ltr">LIVE</label>
                  <i class="fa fa-circle"></i>
              </span>
        <span>
              رو بزن.
                </span>
      </a>
    </div>
  </div>
  <div ng-show="viewState() !== 'noFile'">
    <div class="doc-section-header">
      <ul class="doc-tabs">
        <li ng-show="vm.liveFile" ng-class="viewState()=='live' ? 'doc-tab doc-tab-active' : 'doc-tab'" ng-mouseup="liveFileTabClick()">
          {{vm.liveFile.name}}
          <a class="live-btn">
            <i class="fa fa-circle"></i>
            <label dir="ltr">LIVE</label>
          </a>
          <a ng-click="closeLiveFile(vm.liveFile)">
            <i class="fa fa-times"></i>
          </a>
        </li>

        <li ng-show="vm.viewFile" ng-class="viewState()=='view' ? 'doc-tab doc-tab-active' : 'doc-tab'" ng-mouseup="viewFileTabClick()">
          {{vm.viewFile.name}}
          <a ng-click="closeViewFile(vm.viewFile)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>

      <!--<li class="doc-tab">-->
      <!--c.js-->
      <!--<i class="fa fa-times"></i>-->
      <!--</li>-->
      <!--end Tabs View-->
      <!--
<div class="doc-file-ex">
  <i class="fa fa-folder-open"></i>
</div>
-->
    </div>
    <div ng-show="viewState() === 'live'" class="doc-section-body">
            <pre id="liveCodeView" class="prettyprint linenums" dir="ltr">
      <ol class="linenums">
        <li ng-repeat="line in vm.liveFile.lines track by $index" ng-click="lineClick(line.num)" ng-bind-html="line.html" ng-class="line.getCssClass()"></li>
      </ol>
    </pre>
    </div>

    <div ng-show="viewState() === 'view'" class="doc-section-body">
            <pre id="codeView" class="prettyprint linenums" dir="ltr">
      <ol class="linenums">
        <li ng-repeat="line in vm.viewFile.lines track by $index" ng-bind-html="line.html" ng-class="line.getCssClass()"></li>
      </ol>
    </pre>
    </div>

  </div>
</div>
