<div id=fileManager ng-controller="fileManagerController">
<div ng-class="getFileManagerClass()">
  <div class="mime-toggle-fix"></div>
  <div class="mime-menu-toggle-holder" ng-click="toggleFileManagerStatus()">
    <div class="mime-menu-toggle">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mime-menu-header">
    <h3>مدیریت فایل‌ها</h3>
    <div class="mime-more">
      <i class="zmdi zmdi-more"></i>
      <ul>
        <li><a ng-click="changeFileManagerFilter('0')">همه</a></li>
        <li><a ng-click="changeFileManagerFilter('1')">کدها</a></li>
        <li><a ng-click="changeFileManagerFilter('2')">عکس‌ها</a></li>
        <li><a ng-click="changeFileManagerFilter('3')">اسناد</a></li>
        <li><a ng-click="changeFileManagerFilter('4')">دیگر</a></li>
      </ul>
    </div>
  </div>
  <ul class="mime-main">
    <div ng-if="!channelHasAnyFile()">No Message</div>
    <li ng-repeat="file in files | orderBy : '-file.date' | filter : fileManagerFileFilter">
      <a class="mime-item-one">
      <svg viewBox="0 0 100 100">
       <use xlink:href={{file.svg}}></use>
      </svg>
      <div class="mime-dets">
        <label class="mime-name">{{file.getFileName()}}</label>
        <span class="mime-date">{{file.date}}</span>
        <span class="mime-size">
          <div class="live-btn" dir="ltr" ng-click="goLive(file.id,file.name)" ng-if="file.canBeLived() && channel.canMemberSendMessage()"><label dir="ltr">LIVE</label><i class="fa fa-circle"></i></div>
          <div class="dl-btn" dir="ltr" ng-click="viewFile(file.id)" ng-if="file.canBeLived()" tooltip-placement="top" uib-tooltip="مشاهده"><i class="fa fa-eye"></i></div>
          <div class="dl-btn" ng-click="file.downloadFile()" tooltip-placement="top" uib-tooltip="دانلود"><i class="zmdi zmdi-download"></i></div>
        </span>
      </div>
    </a>
    </li>
  </ul>
</div>
</div>
