<div class="header clearfix">
    <div ui-view="header"></div>
</div>
<div ng-controller="messagesController">
    <div id="messagesHolder" class="chat">
        <div class="main">
            <!--<div class="date-holder">-->
            <!--<label>۱۵ مرداد</label>-->
            <!--</div>-->
            <div ng-repeat="message in messages | orderBy : 'datetime'" class="msg-holder">
                <div ng-class="message.getCssClass()">
                    <label class="name">{{message.username}}</label>
                    <label class="status" ng-show="message.isFromMe()">
                        <i ng-class="message.getStatusIcon()"></i>
                    </label>
                    <label class="time">{{message.datetime | amDateFormat:'HH:mm'}}</label>
                    <div ng-bind-html="message.getViewWellFormed()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-holder">
        <a href="#">
            <i class="zmdi zmdi-mood"></i>
        </a>
        <div class="message-input-wrapper">
            <textarea class="message-input" type="text" placeholder="متن پیام" ng-model="inputMessage" ng-keydown="$event.which === 13 && sendMessage()" ></textarea>
        </div>
        <a class="send-btn" href="#" ng-click="sendMessage()">
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
</div>
