<div ng-class="getPannelsCSS('messages')" class="window-transition">
  <!-- TODO col-sm-9 col-lg-9 -->
  <div class="header clearfix">
    <div ui-view="header"></div>
  </div>
  <div id=messagesWindow ng-controller="messagesController">
    <div id="messagesHolder" class="chat">
      <div class="server-msg ng-cloak ng-hide" ng-hide="socketConnected" ng-cloak>
        <i class="fa fa-spinner fa-spin fa-fw"></i>
        <span>در حال وصل شدن به سرور...</span>
      </div>
      <div class="server-msg file-server-msg err ng-cloak ng-hide" ng-show="uploadErrNotif" ng-cloak>
        <span>حداکثر حجم هر آپلود شما در پلن فعلی 1MB است.</span>
      </div>
      <div class="main">
        <div ng-repeat="message in messages | orderBy : 'datetime'">
          <div class="date-holder" ng-if="isMessageDateInAnotherDay(message)">
            <label>{{message.getLocaleDate()}}</label>
          </div>
          <div ng-class="message.getCssClass()" class="msg-holder">
            <label class="name">{{message.getUsername()}}</label>
            <label class="status" ng-show="message.isFromMe()">
              <i ng-class="message.getStatusIcon()"></i>
            </label>
            <label class="time">{{message.getLocaleTime()}}</label>
            <div compile template="{{message.getViewWellFormed()}}" ng-style="message.getStyle()"></div>
          </div>
        </div>
        <!-- TODO: Fix this -->
        <div ng-show="channel.anyoneTyping()" class="msg-holder">
          <div class="is-typing">
            <label class="name">{{channel.getIsTypingString()}}</label>
            <span><i class="zmdi zmdi-circle"></i></span>
            <span><i class="zmdi zmdi-circle"></i></span>
            <span><i class="zmdi zmdi-circle"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="channel.haveLiveAndUploadPermission()" class="input-holder" id="inputHolder">
      <a type="file" ngf-select="upload($file, $invalidFiles)" ngf-max-size="1MB">
        <i class="fa fa-paperclip"></i>
      </a>
      <textarea class="message-input" type="text" id="inputPlaceHolder" placeholder="متن پیام" ng-model="inputMessage" ng-style="getInputStyle()" ng-keydown="$event.which === 13 && sendMessage($event)" ng-change="typing()"></textarea>
      <a class="send-btn" href="#" ng-click="sendMessage($event)">
        <i class="zmdi zmdi-mail-send"></i>
      </a>
    </div>
    <div ng-show="channel.getIsRemoved() && !channel.isPublic()" class="input-holder">
      <label>شما از این گروه حذف شدین.</label>
    </div>
    <div ng-show="channel.getIsArchived() && channel.active" class="input-holder">
      <label>این گروه توسط ادمین حذف شده و دیگر به آن دسترسی ندارید.</label>
      <button class="btn" ng-click="removeAndCloseChannel(channel)">حذف و بستن گروه</button>
    </div>
    <div ng-show="!channel.getIsRemoved() && !channel.getIsArchived() && channel.active && !channel.isCurrentMemberPublicChannelMember()" class="input-holder">
      <label>شما در این گروه عمومی عضو نیستید.</label>
      <button class="btn" ng-click="joinPublicChannel()">همین الان عضو شو!</button>
    </div>
    <div ng-show="!channel.active" class="input-holder">
      <label>@{{channel.name}} دیگر در این تیم عضو نیست.</label>
      <button class="btn" ng-click="archiveDirect(channel)">حذف و بستن مکالمه</button>
    </div>
  </div>
</div>
<div ng-class="getPannelsCSS('files')" class="window-transition">
  <!-- TODO col-sm-3 col-lg-3 -->
  <div ui-view="files"></div>
</div>
