<div class="col-sm-6 col-lg- no-padding">
  <!-- TODO col-sm-9 col-lg-9 -->
  <div class="header clearfix">
    <div ui-view="header"></div>
  </div>
  <div id=messagesWindow ng-controller="messagesController">
    <div id="messagesHolder" class="chat">
      <div class="server-msg" ng-hide="socketConnected">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
        <span>در حال وصل شدن به سرور...</span>
      </div>
      <div class="main">
        <!--<div class="date-holder">-->
        <!--<label>۱۵ مرداد</label>-->
        <!--</div>-->
        <div ng-repeat="message in messages | orderBy : 'datetime'" class="msg-holder">
          <div ng-class="message.getCssClass()">
            <label class="name">{{message.username}}</label>
            <label class="status" ng-show="message.isFromMe()">
              <i ng-class="message.getStatusIcon()"></i>
            </label>
            <label class="time">{{message.datetime | amDateFormat:'HH:mm'}}</label>
            <div compile template="{{message.getViewWellFormed()}}" ng-style="message.getStyle()"></div>
          </div>
        </div>
        <!-- TODO: Fix this -->
        <div ng-show="channel.anyoneTyping()" class="msg-holder">
          <div class="msg msg-recieve">
            <label class="name">{{channel.getIsTypingString()}}</label>
            <img class="is-typing-img" src="http://jobsonsight.org/ellipsis.gif">
          </div>
        </div>
      </div>
    </div>
    <div class="input-holder" id="inputHolder">
      <a type="file" ngf-select="upload($file, $invalidFiles)" ngf-max-size="1MB">
        <i class="zmdi zmdi-plus"></i>
      </a>
      <textarea class="message-input" type="text" id="inputPlaceHolder" placeholder="متن پیام" ng-model="inputMessage" ng-keydown="$event.which === 13 && sendMessage($event)" ng-change="typing()"></textarea>
      <a class="send-btn" href="#" ng-click="sendMessage($event)">
        <i class="fa fa-paper-plane"></i>
      </a>
    </div>
  </div>
</div>
<div class="col-sm-6 col-lg-6 no-padding doc-section">
  <!-- TODO col-sm-3 col-lg-3 -->
  <div ui-view="files"></div>
</div>
